@using LaPelicula.UI.Shared
@inject IJSRuntime JsRuntime
@inject IUserPreferencesEncoder UserPreferencesEncoder

<div class="preferences-overlay @(!_shown ? "hidden" : "")">
    <div class="preferences-overlay__container">
        <h1 class="preferences-overlay__title">How would you rate these movie genres?</h1>
        <div data-permanent>
            <div class="preferences-overlay__body" id="react-container"></div>
        </div>
        <div class="preferences-overlay__actions">
            <button class="button button_secondary" style="margin-right: 2vh" @onclick="ResetAsync">Reset</button> 
            @if (!_isReset)
            {
                <button class="button" @onclick="SaveAsync">Save & continue</button>    
            }
        </div>
    </div>
</div>

@code {
    private bool _shown;
    private bool _isReset;
    private DotNetObjectReference<UserPreferencesOverlay>? _objectReference;
    
    [Parameter]
    public EventCallback ValueChanged { get; set; }
    
    [Parameter]
    public EventCallback<bool> VisibilityChanged { get; set; }
    
    public async Task ResetAsync()
    {
        await JsRuntime.InvokeAsync<string>("ReactUserPreferences.resetPreferences");
    }
    
    public async Task TriggerPreferencesAsync()
    {
        _shown = !_shown;
        await VisibilityChanged.InvokeAsync(_shown);
        await JsRuntime.InvokeAsync<string>("ReactUserPreferences.triggerPreferences");
    }
    
    public async Task SaveAsync()
    {
        await TriggerPreferencesAsync();
        await ValueChanged.InvokeAsync();
    }
    
    [JSInvokable]
    public void ShowSaveButton(bool shown)
    {
        _isReset = !shown;
        StateHasChanged();
    }
    
    [JSInvokable]
    public string Encode(IDictionary<string, double>? preferencesDict)
    {
        if (preferencesDict is null)
        {
            return String.Empty;
        }

        var userPreferences = UserPreferences.FromDictionary(preferencesDict);
        return UserPreferencesEncoder.Encode(userPreferences);
    }

    [JSInvokable]
    public IDictionary<string, double> Decode(string? encodedGenrePreferences)
    {
        return UserPreferencesEncoder.Decode(encodedGenrePreferences)
            .ToDictionary();
    }

    protected override void OnInitialized()
    {
        _objectReference = DotNetObjectReference.Create(this);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeAsync<string>("ReactUserPreferences.persistBlazorObject", _objectReference);
            await JsRuntime.InvokeVoidAsync(
                "ReactUserPreferences.renderComponent",
                "react-container"
            );
        }
    }

}