html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 100%;
    height: 100%;
    font-size: 1.7vh;
}

:root {
    --bg-dark: #0f111a;
    --text-light: #e4e4e4;
    --primary: #3c82f6;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-dark);
    color: var(--text-light);
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--bg-dark);
    border-bottom: 1px solid #1f2937;
}

.logo {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--text-light);
    display: block;
    text-decoration: none;
}

.logo__subtext {
    font-size: 0.6rem;
    font-weight: lighter;
    color: var(--text-light);
}

nav a {
    color: var(--text-light);
    text-decoration: none;
    margin-left: 1.5rem;
    font-size: 0.95rem;
}

.hero {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.hero h1 {
    font-size: 2rem;
    color: white;
}

.hero .highlight {
    color: var(--primary);
}

.glide {
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.glide__track {
    overflow: visible;
    margin: 0 1vw;
}

@media (max-width: 1200px) {
    .glide__track {
        margin: 0 3vw;
    }
}

.glide__slides {
    display: flex;
    align-items: baseline;
}

.glide__slide {
    flex: 0 0 auto;
    width: 300px;
    margin-right: 24px;
    position: relative;
    list-style-type: none;
}

.glide__slide-title {
    text-align: center;
    margin-top: 5px;
    padding: 0 10px;
    color: var(--text-light);
    font-size: 0.9rem;
}

@media (max-width: 500px) {
    .glide__slide-title {
        font-size: 1.1rem;
    }
}

.glide__slide-rating {
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #10881fdb;
    color: var(--text-light);
    font-size: 0.9rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 6;
}

.glide__slide-image-container {
    position: relative;
    width: 100%;
    border-radius: 16px;
    display: block;
    overflow: hidden; 
}

.glide__slide-image-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    text-decoration: none;
    pointer-events: none;
}

.glide__slides--show-overlay .glide__slide-image-overlay {
    display: block;
    pointer-events: all;
}

@media (hover: hover) and (pointer: fine) {
    .glide__slide-image-container:hover .glide__slide-image-overlay {
        display: block;
        pointer-events: all;
    }
}

.glide__slide-description {
    display: -webkit-box;      
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    height: 4.5em;
    line-height: 1.5em;
    overflow: hidden;  
    text-overflow: ellipsis;
    color: var(--text-light);
    padding: 0 10px;
    font-size: 0.9rem;
    
}

@media (max-width: 500px) {
    .glide__slide-description {
        font-size: 1.1rem;
    }
}


.glide__slide-genres {
    display: block;
    height: 1.5em;
    line-height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--text-light);
    padding: 0 10px;
}


.glide__slide img {
    width: 100%;
    border-radius: 16px;
    display: block;
}

.glide__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(15, 17, 26, 0.7);
    border: 1px solid #333;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--text-light);
    font-size: 1.5rem;
    z-index: 10;
}

.glide__arrow--left {
    left: 10px;
}

.glide__arrow--right {
    right: 10px;
}

.gradient-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10vw;
    z-index: 5;
    pointer-events: none;
}

.overlay-left {
    left: 0;
    background: linear-gradient(to right, rgba(15,17,26,0.8) 30%, rgba(15,17,26,0));
}

.overlay-right {
    right: 0;
    background: linear-gradient(to left, rgba(15,17,26,0.8) 30%, rgba(15,17,26,0));
}

.configure-button {
    display: block;
    margin: 1rem auto;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    color: var(--primary);
    border: 2px solid var(--primary);
    border-radius: 999px;
    background: transparent;
    cursor: pointer;
}

.continue-button {
    display: inline-block;
    margin: 2rem 3rem 0 0px;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    color: var(--primary);
    border: 2px solid var(--primary);
    border-radius: 999px;
    background: transparent;
    cursor: pointer;
}



.preferences-overlay {
    position: fixed;
    top: 69px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

@media (max-width: 1000px) {
    .preferences-overlay {
        overflow-y: auto;
    }   
}

.preferences-overlay.hidden {
    display: none;   
}

.preferences-overlay__title {
    text-align: center;
}

.preferences-overlay__container {
    width: 50%;
    padding: 2rem;
    position: absolute;
    top: 0;
}

.preferences-overlay__actions {
    text-align: right;
}

.content-wrapper.hidden {
    display: none;
}