@inherits LayoutComponentBase

<header>
    <div class="logo">
        La Pelicula
        <div class="logo__subtext">Pick your next movie to watch</div>
    </div>
    <nav>
        <a href="https://github.com" target="_blank">GitHub</a>
        <a href="#about">About</a>
    </nav>
</header>


@Body

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>