@page "/"
@using LaPelicula.UI.Client.Components
@rendermode InteractiveWebAssembly


<PageTitle>La Pelicula – Pick a movie to watch</PageTitle>


<main>
    <div class="content-wrapper @(_showMovies ? "" : "hidden")">
        <section class="hero">
            <h1>You might like <span class="highlight">these movies</span></h1>
            <p>A carefully curated collection of movies selected just for you.</p>
        </section>
        
        <MovieSlideshow NoCookieFound="NoCookieFoundAsync"></MovieSlideshow>
        
        <button class="configure-button" @onclick="TriggerPreferencesAsync">Adjust your preferences</button>
    </div>
    <UserPreferencesOverlay @ref="_userPreferencesOverlay" ShownChanged="OnOverlayVisibilityChanged"></UserPreferencesOverlay>
    
</main>



@code {
    private UserPreferencesOverlay? _userPreferencesOverlay;
    private bool _showMovies = true;
    
    private void OnOverlayVisibilityChanged(bool shown)
    {
        _showMovies = !shown;
    }
    
    private async Task TriggerPreferencesAsync() =>  
        await (_userPreferencesOverlay?.TriggerAsync() ?? Task.FromException(new InvalidOperationException("Component reference is null")));

    private async Task NoCookieFoundAsync()
    {
        await TriggerPreferencesAsync();
    }

}