@page "/"
@using LaPelicula.UI.Client.Services
@using LaPelicula.UI.Shared
@inject IJSRuntime JSRuntime
@inject IUserPreferencesEncoder UserPreferencesEncoder
@inject IRecommendationsHttpService RecommendationsHttpService
@inject ILogger<Home> Logger
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))


<PageTitle>La Pelicula – Pick a movie to watch</PageTitle>

<HeadContent>
    <script src="https://cdn.jsdelivr.net/npm/@@glidejs/glide@3.6.0/dist/glide.min.js"></script>
</HeadContent>

<main>
    <div class="recommendations-slideshow @(showPreferences ? "hidden" : "")">
        <section class="hero">
            <h1>You might like <span class="highlight">these movies</span></h1>
            <p>A carefully curated collection of movies selected just for you.</p>
        </section>
        <div>
            @foreach (var recommendation in _recommendations)
            {
                <p>@recommendation</p>
            }
        </div>
        <div class="glide">
            <div class="gradient-overlay overlay-left"></div>
            <div class="gradient-overlay overlay-right"></div>

            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    <li class="glide__slide"><img src="https://image.tmdb.org/t/p/w1280/mKp4euM5Cv3m2U1Vmby3OGwcD5y.jpg" alt="Slide"></li>
                    <li class="glide__slide"><img src="https://image.tmdb.org/t/p/w1280/mKp4euM5Cv3m2U1Vmby3OGwcD5y.jpg" alt="Slide"></li>
                    <li class="glide__slide"><img src="https://image.tmdb.org/t/p/w1280/mKp4euM5Cv3m2U1Vmby3OGwcD5y.jpg" alt="Slide"></li>
                    <li class="glide__slide"><img src="https://image.tmdb.org/t/p/w1280/mKp4euM5Cv3m2U1Vmby3OGwcD5y.jpg" alt="Slide"></li>
                    <li class="glide__slide"><img src="https://image.tmdb.org/t/p/w1280/mKp4euM5Cv3m2U1Vmby3OGwcD5y.jpg" alt="Slide"></li>
                </ul>
            </div>

            <div class="glide__arrows" data-glide-el="controls">
                <button class="glide__arrow glide__arrow--left" data-glide-dir="<">❮</button>
                <button class="glide__arrow glide__arrow--right" data-glide-dir=">">❯</button>
            </div>
        </div>


        <button class="configure-button" @onclick="TriggerPreferences">Adjust your preferences</button>

    
    </div>
    
    <div class="preferences-overlay @(!showPreferences ? "hidden" : "")">
        <div class="preferences-overlay__container">
            <h1 class="preferences-overlay__title">How would you rate these movie genres?</h1>
            <div class="preferences-overlay__body" id="react-container"></div>
            <div class="preferences-overlay__actions">
                <button class="continue-button" @onclick="TriggerPreferences">Save & continue</button>
            </div>
        </div>
    </div>
</main>



<script>
    
</script>


@code {
    private bool showPreferences = false;
    private DotNetObjectReference<Home>? _objectReference;
    private List<String> _recommendations = new ();
    private async Task TriggerPreferences()
    {
        showPreferences = !showPreferences;
        await JSRuntime.InvokeAsync<string>("ReactUserPreferences.triggerPreferences");
    }
    
    [JSInvokable]
    public string Encode(IDictionary<string, double> preferencesDict)
    {
        if (preferencesDict is null)
        {
            return String.Empty;
        }
        var userPreferences = UserPreferences.FromDictionary(preferencesDict);
        return UserPreferencesEncoder.Encode(userPreferences);
    }
    
    [JSInvokable]
    public IDictionary<string, double> Decode(string encodedGenrePreferences)
    {
        return UserPreferencesEncoder.Decode(encodedGenrePreferences)
            .ToDictionary();
    }

    protected override async Task OnInitializedAsync()
    {
        _objectReference = DotNetObjectReference.Create(this);
        try
        {
            _recommendations = await RecommendationsHttpService.GetRecommendations();
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Failed to get recommendations");
        }        
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeAsync<string>("ReactUserPreferences.persistBlazorObject", _objectReference);
            
            await JSRuntime.InvokeVoidAsync(
                "ReactUserPreferences.renderComponent", 
                "react-container"
            );
            await JSRuntime.InvokeVoidAsync(
                "MoviesSlideshow.renderComponent", 
                ".glide"
            );
        }
    }
    
}