@page "/"
@using LaPelicula.UI.Shared
@inject IJSRuntime JSRuntime
@inject IUserPreferencesEncoder UserPreferencesEncoder
@rendermode InteractiveWebAssembly


<PageTitle>La Pelicula – Pick a movie to watch</PageTitle>

<h1>We think you are going to like:</h1>


<a href="/settings">Adjust your preferences</a>
<div id="react-container" style="line-height: unset;"></div>

<button onclick="@SayHello">Say Hello</button>

@code {
    public record RatingByGenre(string Name, double Rating);

    private void SayHello()
    {
        Console.WriteLine("Hello");
    }
    
    [JSInvokable]
    public string Encode(IDictionary<string, double> preferencesDict)
    {
        if (preferencesDict is null)
        {
            return String.Empty;
        }
        var userPreferences = UserPreferences.FromDictionary(preferencesDict);
        return UserPreferencesEncoder.Encode(userPreferences);
    }
    
    [JSInvokable]
    public IDictionary<string, double> Decode(string encodedGenrePreferences)
    {
        return UserPreferencesEncoder.Decode(encodedGenrePreferences)
            .ToDictionary();
    }
    
    private DotNetObjectReference<Home>? _objectReference;

    protected override async Task OnInitializedAsync() => 
        _objectReference = DotNetObjectReference.Create(this);

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeAsync<string>("ReactUserPreferences.persistBlazorObject", _objectReference);
            
            await JSRuntime.InvokeVoidAsync(
                "ReactUserPreferences.renderComponent", 
                "react-container"
            );
        }
    }
    
}