@page "/"

<PageTitle>.NET ❤️ Python – TensorFlow-based Movie Recommender</PageTitle>

<h1>We think you are going to like:</h1>

<ul>
    
</ul>

Set up your preferences in <a href="/settings">Settings</a>